main {
  display: flex;
  flex-direction: column;
  gap: 60px !important;
}
main .hero {
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin: 90px 0;
}
main .hero .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  gap: 70px;
}
main .hero .left .heading h1 {
  font-size: 68px;
  font-weight: 700;
  color: #59488D;
}
main .hero .left .heading p {
  color: #50424B;
  font-size: 16px;
  font-weight: 400;
}
main .hero .left .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .hero .left .btns button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #FF5033;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
main .hero .left .btns button:hover {
  background-color: #e64023;
}
main .hero .left .btns button img {
  width: 25px;
}
main .hero .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
main .hero .right img {
  width: 80%;
  padding-left: 20px;
}
main .features {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
main .features img {
  height: 70%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
main .matches h2 {
  font-size: 52px;
  font-weight: 500;
}
main .matches .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .matches .row .phone {
  width: 200px;
}
main .matches .row .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  background: url("../../images/background-right.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 40px;
  position: relative;
}
main .matches .row .container .heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .matches .row .container .heading img {
  width: 25px;
}
main .matches .row .container .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
main .matches .row .container h3 {
  font-size: 18px;
  font-weight: 600;
}
main .matches .row .container p {
  font-size: 14px;
  font-weight: 500;
  color: #50424B;
}
main .matches .row .headingHoverContainer {
  display: none;
}
main .matches .row .container:hover .headingHoverContainer {
  position: absolute;
  top: -30%;
  left: 5%;
  display: block;
  background-color: #FAFAFA;
  padding: 30px;
  width: 80%;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
  /* Show the container when its parent container is hovered over */
}
main .matches .row2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
main .matches .row2 .phone {
  width: 200px;
}
main .matches .row2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 30%;
  background: url("../../images/background-left.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 40px;
}
main .matches .row2 .container .headingHoverContainer {
  display: none;
}
main .matches .row2 .container .heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .matches .row2 .container .heading img {
  width: 25px;
}
main .matches .row2 .container .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
main .matches .row2 .container h3 {
  font-size: 18px;
  font-weight: 600;
}
main .matches .row2 .container p {
  font-size: 14px;
  font-weight: 500;
  color: #50424B;
  text-align: right;
}
main .matches .row2 .headingHoverContainer {
  display: none;
}
main .matches .row2 .container:hover .headingHoverContainer {
  position: absolute;
  top: -35%;
  left: 5%;
  display: block;
  background-color: #FAFAFA;
  padding: 30px;
  width: 80%;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
  /* Show the container when its parent container is hovered over */
}
main .matches .row2 .container:hover .headingHoverContainer p {
  text-align: left;
}
main .explore {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 50px;
}
main .explore h2 {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 500;
}
main .explore ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
main .explore ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  padding: 60px 40px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
main .explore ul li img {
  width: 60px;
}
main .explore ul li .tt {
  width: 50px !important;
}
main .explore ul li:hover {
  background-color: #f3f1f1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .devices {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}
main .devices .container {
  position: relative;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(to left, #e66465, #9198e5);
     border-image: linear-gradient(to left, #e66465, #9198e5);
  border-image-slice: 1;
  width: 30%;
  height: 260px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
main .devices .container .phone {
  position: absolute;
  width: 200px;
  top: -90%;
}
main .devices .container .content {
  display: flex;
  gap: 20px;
  z-index: 999;
  align-items: flex-end;
  height: 90%;
}
main .devices .container .content img {
  width: 25px;
}
main .devices .container .content p {
  font-size: 18px;
  font-weight: 600;
}
main .faq {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .faq .heading {
  display: flex;
  align-items: baseline;
}
main .faq .heading h2 {
  font-size: 52px;
  font-weight: 500;
}
main .faq .heading .faqImg {
  width: 80px;
}
main .faq .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
main .faq .content .container {
  background-color: #F6F6F9;
  padding: 20px 30px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: height 0.2s ease-in;
}
main .faq .content .container .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
main .faq .content .container .heading h3 {
  color: #535353;
  font-size: 18px;
  font-weight: 600;
}
main .faq .content .container .heading img {
  width: 25px;
}
main .faq .content .container p {
  display: none;
  color: #372E34;
  font-size: 14px;
  font-weight: 400;
}

.featuress {
  margin-top: 75px !important;
}

.click {
  height: -moz-max-content !important;
  height: max-content !important;
  transition: height 0.2s ease-in;
}
.click p {
  display: block !important;
}

@media screen and (width <= 440px) {
  main {
    gap: 30px;
  }
  main .hero {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  main .hero .left {
    width: unset;
    gap: 20px;
    align-items: center;
  }
  main .hero .left .heading h1 {
    font-size: 32px;
    text-align: center;
  }
  main .hero .left .heading p {
    font-size: 12px;
    text-align: center;
  }
  main .hero .left .btns {
    flex-direction: column;
    align-items: stretch;
  }
  main .hero .left .btns button {
    padding: 10px 25px;
    width: 100%;
  }
  main .hero .left .btns button img {
    width: 30px;
  }
  main .hero .right {
    justify-content: center;
  }
  main .hero .right img {
    width: 300px;
    padding-left: 20px;
  }
  main .matches .row2 .container .heading h4 {
    font-size: 16px;
    font-weight: 600;
  }
  main .matches .row2 .container h3 {
    font-size: 16px;
    font-weight: 600;
  }
  main .matches .row2 .container p {
    font-size: 12px;
  }
  main .matches .row .container p {
    font-size: 12px;
  }
  main .matches .row .container h3 {
    font-size: 16px;
    font-weight: 600;
  }
  main .matches .row .container .heading h4 {
    font-size: 16px;
    font-weight: 600;
  }
  main .features {
    align-items: center;
  }
  main .features img {
    width: 100%;
  }
  main .matches {
    gap: 20px;
  }
  main .matches .row2 {
    gap: 20px;
  }
  main .matches .row {
    gap: 20px;
  }
  main .features .details h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
  }
  main .features .details p {
    font-size: 18px;
    width: 90%;
  }
  main .matches h2 {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
  }
  main .matches .row .container {
    padding: 35px !important;
  }
  main .features {
    height: unset;
  }
  main .matches .row,
  main .matches .row2 {
    flex-direction: column;
  }
  main .matches .row .container,
  main .matches .row2 .container {
    width: unset;
  }
  main .devices {
    display: none;
  }
  main .faq .heading h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  main .faq .heading .faqImg {
    width: 60px;
  }
  main .faq .content .container .heading h3 {
    color: #535353;
    font-size: 14px;
    font-weight: 600;
  }
  main .faq .content .container {
    height: unset !important;
  }
  main .faq .content .container .heading {
    width: 100%;
  }
  main .faq .content .container .heading h3 {
    width: 90%;
  }
}
@media screen and (width <= 390px) {
  main .matches .row .container {
    padding: 30px !important;
    width: 90% !important;
  }
  main .matches .row .container h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=Home.css.map */