body {
    .earlyAccess {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px !important;
        height: 100vh;
        width: 94%;
        padding: 20px 40px;
        img {
            width: 40vw;
        }
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .details {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    font-size: 52px;
                    color: #413566;
                    font-weight: 500;

                    span{
                        font-weight: 500;
                        color: #e64023;
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 52px;
                    color: #413566;
                }

                p {
                    font-weight: 500;
                    font-size: 24px;
                    color: #e64023;
                    text-align: center;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 40%;
                gap: 20px;
                input {
                    border: none;
                    padding: 10px;
                    border-bottom: 2px solid #ff5033;
                    font-weight: 500;
                    font-size: 16px;
                    outline: none;
                    color: black;
                    background: transparent;
                }
                ::placeholder {
                    font-weight: 400;
                    font-size: 18px;
                    color: gray;
                }
                button {
                    background-color: #ff5033;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    border: none;
                    padding: 10px 30px;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-radius: 10px;
                    transition: background 0.2s ease-in;
                    &:hover {
                        background-color: #e64023;
                    }
                }
            }
        }
    }
}

@media screen and (width <=440px) {
    body .earlyAccess {
        padding-bottom: 50px;
    }
    body .earlyAccess h2 {
        font-size: 24px;
        font-weight: 600;
        color: #413566;
        text-align: center;
    }
    body .earlyAccess .bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        gap: 10px;
        flex-direction: column;
    }
    body .earlyAccess .bottom h1 {
        width: unset;
        font-size: 20px;
        color: #413566;
        text-align: center;
        font-weight: 500;
    }
    body .earlyAccess .bottom .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    body .earlyAccess h2 {
        font-size: 24px;
        font-weight: 600;
        color: #413566;
        text-align: center;
    }
    body .earlyAccess .bottom .right form {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    body .earlyAccess .bottom .right form input {
        border: none;
        padding: 10px;
        border-bottom: 2px solid #ff5033;
        font-weight: 500;
        font-size: 16px;
        outline: none;
        color: black;
        width: 95%;
        background: transparent;
    }
    body .earlyAccess .bottom .right form button {
        background-color: #ff5033;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border: none;
        width: 100%;
        padding: 10px 30px;
        cursor: pointer;
        text-transform: uppercase;
        transition: background 0.2s ease-in;
    }

    body .earlyAccess .bottom .right h2 {
        font-size: 30px;
    }
}

// .btn{
//     padding:8px 12px ;
//     background-color:rgb(109, 157, 163) ;
//     color: white;
//     border: none;
//     /* border-radius: 6px; */
//     cursor: pointer;
// }

// main{
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     margin-bottom: 40px;
//     margin-top: 30px;

// }

// .box1{
//     width: 450px;
//     margin-left: 10px;

// }

// .box1 .para {
//     width: 450px;
//     padding-left: 20px;
//     color: white;

// }

// input{
//     padding: 6px ;
//     width: 170px;
//     border: none;
//     background: transparent;
//     border-bottom: 1px solid white;
// }

// .form{
//     padding-top: 20px;

// }

// .box2{
//     width: 400px;
//     margin-right: 250px;
// }
