.forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 !important;
    height: 100vh;
    position: relative;

    .absoluteleft {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .absoluteright {
        position: absolute;
        right: 0;
        z-index: -1;
        bottom: 0;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        z-index: 9999;
        color: white;

        img {
            width: 350px;
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 40px;
            border-radius: 10px;

            .heading {
                h3 {
                    font-size: 28px;
                    font-weight: 500;
                }

                p {
                    color: #50424B;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                .formEle {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-weight: 400;

                        img {
                            width: 20px;
                        }
                    }

                    .war {
                        color: #db2727;
                        font-weight: 500;
                    }
                }

                input {
                    border: none;
                    outline: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    padding: 10px 0;
                    padding-left: 15px;
                    font-weight: 500;
                    border-radius: 10px;
                }

                button {
                    padding: 10px 60px;
                    border-radius: 10px;
                    border: none;
                    background-color: #FF5033;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    text-transform: capitalize;
                    transition: all ease-in .2s;

                    &:hover {
                        background-color: #e64023;
                    }
                }

                .disable {
                    cursor: not-allowed;
                }
            }

            a {
                text-decoration: underline;
                color: #FF5033;
                font-weight: 400;
            }

            .bottom {
                display: flex;
                align-items: center;
                gap: 20px;

                p {
                    font-size: 14px;
                    color: #6C646A;
                    font-weight: 400;
                }
            }
        }
    }
}

.CNP {
    width: 70% !important;
}

@media screen and (width <=440px) {
    .forgot .wrapper {
        width: 90% !important;
    }
    .forgot .wrapper .formContainer .heading h3 {
        color: black !important;
    }
    .forgot .wrapper img {
        display: none;
    }
    .forgot .wrapper .formContainer {
        background-color: white;
    }
    .forgot .wrapper .formContainer .heading h3 {
        font-size: 22px;
    }

    .forgot .wrapper .formContainer form .formEle label {
        color: black !important;
    }

    .forgot .wrapper .formContainer form .formEle {
        gap: 5px;
    }
}