header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    position: fixed;

    background-color: white;
    width: 95%;
    z-index: 99999;

    .left {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            display: flex;
            gap: 30px;
        }

        img {
            width: 40px;
        }

        h2 {
            font-size: 26px;
            font-weight: 600;
            color: #413566;

            span {
                font-weight: 600;
                color: #ff5033;
            }
        }
    }

    .right,
    .open {
        .ham,
        .close,
        .menuLogo {
            display: none;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 80px;

            ul {
                display: flex;
                align-items: center;
                gap: 30px;

                a {
                    li {
                        font-size: 18px;
                        font-weight: 600;
                        color: black;
                        transition: all ease-in 0.2s;

                        &:hover {
                            color: #ff5033;
                            border-bottom: 1px solid #ff5033;
                        }
                    }
                }
            }

            .btns {
                display: flex;
                align-items: center;
                gap: 40px;
                button {
                    width: 200px;
                    padding: 5px 30px;
                    border-radius: 10px;
                    border: none;
                    background-color: #ff5033;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    text-transform: uppercase;
                    transition: all ease-in 0.2s;

                    &:hover {
                        background-color: #e64023;
                    }
                }
                .langs {
                    display: flex;
                    align-items: center;
                    background-color: white;
                    width: 100%;

                    .customSelect {
                        position: relative;
                        width: 100%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .lng{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-weight: 500;

                            img{
                                width: 20px;
                            }
                            p{
                                text-transform: uppercase;
                                font-weight: 500;
                            }
                        }
                        .globe {
                            width: 25px;
                            height: 25px;
                        }
                        ul {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            padding: 20px 0;
                            border-radius: 10px;
                            gap: 10px !important;
                            right: -15%;
                            top: 170%;
                            
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            li {
                                width: 100%;
                                button {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;
                                    border-radius: 0;
                                    color: #413566;
                                    background-color: white !important;
                                    transition: background-color 0.2s ease-in;
                                    &:hover {
                                        background-color: rgb(235, 230, 230) !important;
                                    }
                                    img {
                                        width: 20px;
                                    }
                                    p {
                                        font-size: 14px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                        .langUl {
                            display: none;
                            // height: 0;
                        }
                        .openlangUl {
                            // height: 300px;
                            display: block !important;
                        }
                    }
                }
            }
        }
    }

    .notOpen {
        right: -300px;
        display: none;
        .ham,
        .close,
        .menuLogo {
            display: none;
        }
    }

    .open {
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 9999;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        box-shadow: rgba(0, 0, 0, 0.15) -7px 16px 4px 2px;
        transition: right 0.3s ease;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            h2 {
                display: block;
                font-size: 26px;
                font-weight: 600;
                color: #413566;

                span {
                    font-weight: 600;
                    color: #ff5033;
                }
            }

            img {
                display: block;
                width: 20px;
            }
        }

        nav {
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            height: 100vh;

            ul {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

.active {
    border-bottom: 1px solid #ff5033;

    li {
        color: #ff5033 !important;
    }
}

.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (width <=440px) {
    .langs .customSelect ul {
        left: 200% !important;
        top: -280px;
    }
    .notOpen {
        right: -300px;
        display: block !important;
    }
    header {
        .right {
            .ham {
                display: block;
            }
        }

        nav {
            display: none !important;
        }

        .open {
            nav {
                .btns {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: white;
                    .langs {
                        width: 85%;
                        background-color: white;
                    }

                    a {
                        width: 100%;

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
